<div class="date-setting">
    <div class="back-button" (click)="goBack()">{{ 'BACK' | translate }}</div>
    <!-- <div *ngIf="step === 1">
        <h2 class="title">{{ 'SET_DATE' | translate }}</h2>
        <div class="content">
            <p class="label">{{ 'DATE_FORMAT' | translate }}</p>
            <p class="value">{{ currentDate }}</p>
            <div class="btn-group">
                <button class="button" (click)="handleSetTime()">
                    <img src="/assets/images/icons/main/confirm.svg" alt="" />
                    <div class="text">{{ 'SET_DATE' | translate }}</div>
                </button>
            </div>
        </div>
    </div> -->
    <div>
        <h2 class="title">{{ 'SET_DATE' | translate }}</h2>
        <div class="content">
            <p class="label">{{ 'DATE_FORMAT' | translate }}</p>
            <p class="value">{{ fareConsoleSetting.date }}</p>
            <div class="input-group">
                <p>{{ 'INPUT_DATE' | translate }}</p>
                <input id="inputField" />
                <p *ngIf="hasInputError" class="error">{{ 'INVALID_ENTRY' | translate }}</p>
            </div>
        </div>

        <div class="keyboard">
            <custom-keyboard [layout]="'numeric'" (onKeyPress)="handleChangeInput($event)"></custom-keyboard>
        </div>
    </div>

    <!-- <ng-container *ngIf="step === 3">
        <confirm-dialog
            [title]="success ? ('SUCCESS' | translate) : ('ERROR' | translate)"
            [content]="success ? ('DATE_IS_SET' | translate) : ('INVALID_ENTRY' | translate)"
            [btnOK]="true"
            (onOK)="handleFinish()"
        >
            <div *ngIf="success" style="margin-bottom: 20px" icon>
                <img src="/assets/images/icons/maintenance/big-success.svg" alt="" />
            </div>
            <div *ngIf="!success" style="margin-bottom: 20px" icon>
                <img src="/assets/images/icons/maintenance/big-error.svg" alt="" />
            </div>
        </confirm-dialog>
    </ng-container> -->
</div>
