<div class="bus-id">
    @if (busIdData.status === ResponseStatus.ERROR && busIdData.msgID === MsgID.MAINTENANCE_BUS_ID_SUBMIT) {
        <div class="bus-id-error">
            <div>
                <img src="/assets/images/icons/maintenance/big-error.svg" alt="" />
                <div class="title">Error</div>
                <div class="content">
                    {{ busIdData.message ? (busIdData.message | translate) : ('PLEASE_RETRY_AGAIN' | translate) }}
                </div>
                <div class="btn-group">
                    <div class="btn btn-ok" (click)="handleRetrySetBusId()">
                        <img src="/assets/images/icons/main/confirm.svg" alt="" />
                        <span>OK</span>
                    </div>
                </div>
            </div>
        </div>
    } @else {
        <ng-container *ngIf="step === 1">
            <!-- <div class="back-button" (click)="backToFareConsole()">{{ 'BACK' | translate }}</div> -->
            <h3 class="title">{{ 'BUS_ID' | translate }}</h3>
            <ul class="list">
                <li class="row">
                    <div class="left">{{ 'BUS_ID' | translate }}</div>
                    <div class="right" (click)="handleChangeStep(2)">
                        <p class="value">{{ busIdTemp }}</p>
                        <img src="/assets/images/icons/main/chevron-right.svg" alt="" />
                    </div>
                </li>
                <li class="row">
                    <div class="left">{{ 'OPERATOR' | translate }}</div>
                    <!-- <div class="right" (click)="handleChangeStep(3)">
                        <p class="value">
                            <span *ngIf="busIdData.operator?.['label'] && busIdData.operator?.['serviceProvider']">
                                {{ busIdData.operator?.['label'] }}-{{ busIdData.operator?.['serviceProvider'] }}
                            </span>
                        </p>
                        <img src="/assets/images/icons/main/chevron-right.svg" alt="" />
                    </div> -->
                    <div class="right">
                        <p class="value">
                            <span *ngIf="busIdData.operator?.['label'] && busIdData.operator?.['serviceProvider']">
                                {{ busIdData.operator?.['label'] }}-{{ busIdData.operator?.['serviceProvider'] }}
                            </span>
                        </p>
                    </div>
                </li>
                <li class="row">
                    <div class="left">{{ 'SERVICE_PROVIDER' | translate }}</div>
                    <div class="right" *ngIf="busIdData.operator?.['serviceProvider']">
                        <p class="value">{{ busIdData.operator?.['serviceProvider'] }}</p>
                        <!-- <img src="/assets/images/icons/main/chevron-right.svg" alt="" /> -->
                    </div>
                </li>
            </ul>

            <div class="btn-group">
                <div class="btn btn-cancel" (click)="backToFareConsole()">
                    <img src="/assets/images/icons/main/close.svg" alt="" />
                    <span>{{ 'CANCEL' | translate }}</span>
                </div>
                <div class="btn btn-confirm" (click)="handleSubmitForm()">
                    <img src="/assets/images/icons/main/confirm.svg" alt="" />
                    <span class="text">{{ 'CONFIRM' | translate }}</span>
                </div>
            </div>
        </ng-container>

        <div *ngIf="step === 2" class="bus-id-opt">
            <div class="bus-id-opt-title">
                <h3>{{ 'PLEASE_ENTER_BUS_PLATE_NUM' | translate }}</h3>
            </div>
            <div class="update-wrapper">
                <mat-form-field appearance="outline" class="select-box">
                    <mat-select disableRipple placeholder="Select" [(value)]="busIdPrefix">
                        @for (prefix of busIdPrefixList; track prefix) {
                            <mat-option [value]="prefix">{{ prefix }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <div class="input-box">
                    <div class="input-group">
                        <input [value]="busIdNumber" id="inputField" placeholder="Input Number" />
                        <p *ngIf="hasBusIdNumberError" class="error">
                            {{ 'WRONG_FORMAT' | translate }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="btn-group" *ngIf="!isShowKeyboard">
                <button class="btn btn-cancel" (click)="handleBusIdBack()">
                    <img src="/assets/images/icons/main/close.svg" alt="" />
                    <span>{{ 'CANCEL' | translate }}</span>
                </button>
                <button [disabled]="!busIdNumber || !busIdPrefix" class="btn btn-confirm" (click)="handleSubmitBusId()">
                    <img src="/assets/images/icons/main/confirm.svg" alt="" />
                    <span class="text">{{ 'CONFIRM' | translate }}</span>
                </button>
            </div>
            <div *ngIf="isShowKeyboard" class="keyboard">
                <custom-keyboard [layout]="'numeric'" (onKeyPress)="handleChangeInput($event)"></custom-keyboard>
            </div>
        </div>

        <div class="operator" *ngIf="step === 3">
            <div class="back-button" (click)="handleOperatorBack()">{{ 'BACK' | translate }}</div>
            <h3 class="title">{{ 'SELECT_OPERATOR' | translate }}</h3>
            <div class="operator-content">
                @if (!busIdData.operators?.length) {
                    <div class="loading">
                        <img class="loader" src="/assets/images/svg/spinner.svg" alt="" />
                        <div>Loading...</div>
                    </div>
                } @else {
                    <div class="scrollbar">
                        <ng-scrollbar
                            #scrollable
                            [buttons]="true"
                            trackClass="scrollbar-track"
                            thumbClass="scrollbar-thumb"
                            buttonClass="scrollbar-button"
                        >
                            <ul>
                                @for (operator of busIdData.operators; track operator.id) {
                                    <li
                                        (click)="handleChangeOperator(operator.id)"
                                        [ngClass]="{ selected: operatorIdTemp === operator.id }"
                                    >
                                        {{ operator.label | translate }} - {{ operator.serviceProvider }}
                                    </li>
                                }
                            </ul>
                        </ng-scrollbar>
                    </div>
                }
            </div>
            <div class="btn-group">
                <button [disabled]="!operatorIdTemp" class="btn btn-confirm" (click)="handleConfirmOperator()">
                    <img src="/assets/images/icons/main/confirm.svg" alt="" />
                    <span class="text">{{ 'SELECT' | translate }}</span>
                </button>
            </div>
        </div>
    }
</div>
