@import 'styles/_variables.scss';
$bg-color: $madt-bg-dark-1;

.front-exit-container {
    background-color: $bg-color;
    padding: 20px 15px;
    height: 100%;

    .page-header {
        display: flex;
        justify-content: space-between;

        .button {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        h2 {
            font-weight: $font-weight-bold;
        }

        span {
            padding-left: 5px;
            font-size: 18px;
        }
    }

    .button-group {
        @include flex-center;
        gap: 10px;
        margin-top: 80px;

        .cv-button {
            @include dark-button;
            font-size: 24px;
            font-weight: $font-weight-semi-bold;
            min-height: 128px;
            min-width: 292px;

            &:active {
                transform: scale(1.01);
            }
        }
    }

    .back-button {
        @include back-button;
    }

    .dialog {
        margin-top: 105px;
        @include flex-center;
        flex-direction: column;

        .dialog-header {
            @include flex-center;
            gap: 10px;
            font-size: 32px;
            font-weight: $font-weight-semi-bold;
        }

        .confirm-msg {
            margin-top: 10px;
            font-size: 28px;
        }

        .cf-btn-group {
            @include flex-center;
            gap: 10px;
            margin-top: 20px;

            .btn {
                @include flex-center;
                min-height: 50px;
                min-width: 160px;
                border-radius: 5px;
                transition: 0.2s ease-in-out 0s;

                &:active {
                    transform: scale(1.01);
                }

                span {
                    font-size: 20px;
                    font-weight: $font-weight-bold;
                    padding-left: 6px;
                    color: $white;
                }

                &-cancel {
                    background-color: $madt-color-red;
                }

                &-confirm {
                    background-color: $madt-bg-light-1;
                }
            }
        }
    }
}
