<div class="power-all-cv-on">
    <!-- <div class="back-button" (click)="goBack()">Back</div>
    <div *ngIf="step === 1">
        <h2 class="title">Power All CV ON</h2>
        <div class="content">
            <p class="label">
                Press “Power On All CV” button <br />
                to On All CV.
            </p>
            <div class="btn-group">
                <button class="button" (click)="handleSelect()">
                    <img src="/assets/images/icons/main/confirm.svg" alt="" />
                    <div class="text">Power ON all CV</div>
                </button>
            </div>
        </div>
    </div>

    <ng-container *ngIf="step === 2">
        <confirm-dialog
            [title]="'Power On All CV Confirmation'"
            [content]="'Press the button to confirm.'"
            [btnCancel]="true"
            [btnConfirm]="true"
            (onCancel)="handlePowerAllCVOn(false)"
            (onConfirm)="handlePowerAllCVOn(true)"
        >
        </confirm-dialog>
    </ng-container>

    <ng-container *ngIf="step === 3">
        <confirm-dialog [title]="'Success'" content="All CV has been Power ON" [btnOK]="true" (onOK)="handleFinish()">
            <div *ngIf="success" style="margin-bottom: 20px" icon>
                <img src="/assets/images/icons/maintenance/big-success.svg" alt="" />
            </div>
            <div *ngIf="!success" style="margin-bottom: 20px" icon>
                <img src="/assets/images/icons/maintenance/big-error.svg" alt="" />
            </div>
        </confirm-dialog>
    </ng-container> -->

    <div class="dialog">
        <div class="dialog-header">
            <p [innerHTML]="'POWER_ON_ALL_CV_CONFIRMATION' | translate"></p>
        </div>
        <p class="confirm-msg">{{ 'PRESS_THE_BTN_TO_CONFIRM' | translate }}</p>
        <div class="cf-btn-group">
            <div class="btn btn-cancel" (click)="handleConfirm(false)">
                <img src="/assets/images/icons/main/close.svg" alt="" />
                <span>{{ 'CANCEL' | translate }}</span>
            </div>
            <div class="btn btn-confirm" (click)="handleConfirm(true)">
                <img src="/assets/images/icons/main/confirm.svg" alt="" />
                <span>{{ 'CONFIRM' | translate }}</span>
            </div>
        </div>
    </div>
</div>
