<div class="view-parameter-page">
    @if (isLoading || ResponseStatus.PROGRESS === viewParameter.status) {
        <div class="loading">
            <img class="loader" src="/assets/images/svg/spinner.svg" alt="" />
            <div>Loading...</div>
        </div>
    } @else if (ResponseStatus.ERROR === viewParameter.status) {
        <div class="error">
            <img src="/assets/images/icons/maintenance/big-error.svg" alt="" />
            <div class="title">Communication Error</div>
            <div class="content">{{ viewParameter.message || 'Pinter Function' }}</div>
            <div class="btn-group">
                <div class="btn btn-ok" (click)="handleRetry()">
                    <img src="/assets/images/icons/main/confirm.svg" alt="" />
                    <span>OK</span>
                </div>
            </div>
        </div>
    } @else {
        <ng-scrollbar
            #scrollable
            [buttons]="true"
            trackClass="scrollbar-track"
            thumbClass="scrollbar-thumb"
            buttonClass="scrollbar-button"
        >
            <table class="table">
                <tr>
                    <th>
                        <div class="table-header">
                            <p>{{ 'FULL_NAME' | translate }}</p>
                            <img
                                src="/assets/images/icons/maintenance/sort-asc.svg"
                                alt=""
                                [class]="sort['fullName']"
                                (click)="handleSort('fullName')"
                            />
                        </div>
                    </th>
                    <th>
                        <div class="table-header">
                            <p>{{ 'VERSION' | translate }}</p>
                            <img
                                src="/assets/images/icons/maintenance/sort-asc.svg"
                                alt=""
                                [class]="sort['version']"
                                (click)="handleSort('version')"
                            />
                        </div>
                    </th>
                    <th>
                        <div class="table-header">
                            <p>{{ 'DATE' | translate }}</p>
                            <img
                                src="/assets/images/icons/maintenance/sort-asc.svg"
                                alt=""
                                [class]="sort['date']"
                                (click)="handleSort('date')"
                            />
                        </div>
                    </th>
                    <th>
                        <div class="table-header">
                            <p>{{ 'STATUS' | translate }}</p>
                            <img
                                src="/assets/images/icons/maintenance/sort-asc.svg"
                                alt=""
                                [class]="sort['status']"
                                (click)="handleSort('status')"
                            />
                        </div>
                    </th>
                </tr>
                @for (parameter of viewParameter['parameters']; track parameter.fullName) {
                    <tr>
                        <td>{{ parameter.fullName }}</td>
                        <td>{{ parameter.version }}</td>
                        <td>
                            {{ parameter.date }} <br />
                            {{ parameter.time }}
                        </td>
                        <td>{{ parameter.status === 'active' ? ('ACTIVE' | translate) : ('INACTIVE' | translate) }}</td>
                    </tr>
                }
            </table>
        </ng-scrollbar>
    }
</div>
