<div class="auto-location">
    <!-- <div class="back-button" (click)="goBack()">Back</div>
    <div *ngIf="step === 1">
        <h2 class="title">Set BLS to Auto Mode</h2>
        <div class="content">
            <p class="label">
                Press the “Set to Auto Mode” button <br />
                to change mode.
            </p>
            <div class="btn-group">
                <button class="button" (click)="handleSelect()">
                    <img src="/assets/images/icons/main/confirm.svg" alt="" />
                    <div class="text">Set to Auto Mode</div>
                </button>
            </div>
        </div>
    </div>

    <ng-container *ngIf="step === 2">
        <confirm-dialog
            [title]="'Set BLS Location to Auto'"
            [content]="'Press the button to confirm.'"
            [btnCancel]="true"
            [btnConfirm]="true"
            (onCancel)="handleChangeMode(false)"
            (onConfirm)="handleChangeMode(true)"
        >
        </confirm-dialog>
    </ng-container>

    <ng-container *ngIf="step === 3">
        <confirm-dialog title="Success" content="BLS Location set to Auto" [btnOK]="true" (onOK)="handleFinish()">
            <div *ngIf="success" style="margin-bottom: 20px" icon>
                <img src="/assets/images/icons/maintenance/big-success.svg" alt="" />
            </div>
            <div *ngIf="!success" style="margin-bottom: 20px" icon>
                <img src="/assets/images/icons/maintenance/big-error.svg" alt="" />
            </div>
        </confirm-dialog>
    </ng-container> -->

    <div class="dialog">
        <div class="dialog-header">
            <p [innerHTML]="'SET_BLS_LOCATION_TO_AUTO' | translate"></p>
        </div>
        <p class="confirm-msg">{{ 'PRESS_THE_BTN_TO_CONFIRM' | translate }}</p>
        <div class="cf-btn-group">
            <div class="btn btn-cancel" (click)="goBack()">
                <img src="/assets/images/icons/main/close.svg" alt="" />
                <span>{{ 'CANCEL' | translate }}</span>
            </div>
            <div class="btn btn-confirm">
                <img src="/assets/images/icons/main/confirm.svg" alt="" />
                <span>{{ 'CONFIRM' | translate }}</span>
            </div>
        </div>
    </div>
</div>
