@import 'styles/_variables.scss';

@mixin lta-auto-location-theme($light-theme: false) {
    @if $light-theme {
        .auto-location {
            color: $black;

            .back-button {
                background-color: #3e515b !important;
                color: $white !important;

                &::before {
                    background-color: #3e515b !important;
                }
            }
        }
    }
}
