<div class="calibrate-bls-page">
    <h2 class="title">BLS Calibration Functions</h2>
    <div class="content">
        <div class="button-group">
            <div class="button" (click)="handleNavigate('/maintenance/fare/calibrate-bls/manual-input')">
                {{ 'MANUAL_INPUT' | translate }}
            </div>
            <div class="button" (click)="handleNavigate('/maintenance/fare/calibrate-bls/bls-calibration')">
                {{ 'BLS_CALIBRATION' | translate }}
            </div>
        </div>
    </div>
</div>
